<%- include('start/up') %>
<div clas="container">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        <p>Thank you for register with us this time, we hope we can serve you well</p>
        <hr>
        <p class="mb-0">Keep in mind that you can't register with the same name again</p>
        <p class="mb-0">Ahmed Elsir</p>
        
    </div>

</div>

<%- include('start/down') %>
